html {
	font-size: 21px;
	font-family: Veranda, sans-serif;
}

body {
	width: 100%;
	margin: 0;
}

.main {
	max-width: 34em;
	margin: 1em auto;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 1;
}

p {
	line-height: 1.5;
}

.normal-size {
	font-size: 21px;
}

