<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/custom.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="Benjamin VanderSloot">
		<meta name="author" content="Benjamin VanderSloot">
	  	<meta name="google-site-verification" content="ikjDR_PBmxNlGYmzIGqhL8TjMtiUhgc1nKUTJlbdHZI" />	
		<title>Benjamin VanderSloot</title>
	</head>
	<body>
		<div class="main">
			{% block content %} {% endblock %}
		</div>
	</body>
</html>
