{% extends "base.html" %}

{% block content %}
<h1>
  Benjamin VanderSloot
</h1>

<p>
I'm a Staff Software Engineer at Mozilla working on Privacy in Firefox.
Before Mozilla, I spent a year on the tenure-track at University of Detroit Mercy after getting my PhD at the University of Michigan for my thesis: <cite>Enhancing System Transparency, Trust, and Privacy with Internet Measurement</cite>.
</p>

<p>
I plan to use this page as my public presence. 
I'm not on social media really, so this is a consistent place to find me. 
Send me an email if we haven't talked in a while!
</p>

<h2>
  Useful Links
</h2>
<ul>
  <li> <a href="mailto:admin@benvds.com">Email address:  admin@benvds.com</a> </li>
  <li> <a href="/img/benjamin.vandersloot.jpg">Current Picture</a> </li>
  {% set section = get_section(path="all-to-myself/_index.md") %}
  {% set page = section.pages | first %}
{#
  <li> <a href="{{section.permalink | safe }}">My blog</a>, and its <a href="{{page.permalink | safe}}">latest post</a> </li>
  <li> <a href="/files/resume.pdf">Resumé</a> </li>
  <li> <a href="/files/cv.pdf">Curriculum Vitae</a> </li>
#}
</ul>

{% endblock content %}
