{% extends "base.html" %}

{% block content %}
<h2>
 {{ config.title }} 
</h2>

<h3>{{ page.title }}</h3>

{{ page.content | safe }}

<hr/>
{{ config.author }}, {{page.date | date(format="%e %B %Y")}}



{% endblock content %}
