{% extends "base.html" %}

{% block content %}
<h2>
 {{ section.title }}
</h2>

<ul>
{% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }} &mdash; {{page.date | date(format="%e %B %Y")}}</a></li>
{% endfor %}
</ul>

{% endblock content %}
